<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skirmish.test">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hn"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SignUp"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DynamicPi"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FoodDetails"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Food_change"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StaticInfoPartner"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Confirmation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DietExploration"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CurrentAndIdealDiet"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Exploration"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ExplorationContinued"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MotivatorRegistration"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DietCalendar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Presentdiet"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PatientReg"
            android:screenOrientation="landscape"/>
    </application>

</manifest>